@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: rgb(var(--foreground-rgb));
  background-color: #111827;
  color: white;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
